<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>GitApp</title>
    <link rel="stylesheet" type="text/css" href="public/styles.css" />
  </head>
  <body>

    <!--<form id="formEl"><input type="text" name="username" id="username"/><input type="submit" value="Fetch" id="fetch"/></form>-->

    <div class="container"></div>

    <script type="text/jst" id="users-template">
      <h2 class="page-header text-center">List of contacts</h2>
      <p class="text-center">
        <a href="#users/new" class="btn">Add User</a>
      </p>
      <ul class="list-inline users-container"></ul>
    </script>

    <script type="text/jst" id="user-template">
      <a href="#user/<%= user.username %>"><%= user.username %></a>
    </script>

    <script type="text/jst" id="new-user-template">
       <h2 class="page-header text-center"><%= new_user ? "New" : "Edit" %></h2>
       <form class="form user-form">
         <div class="form-group">
           <label for="username"> Username </label>
           <input type="text" name="username" id="username"/>
         </div>
         <button type="submit" class="btn">Add</button>
       </form>
    </script>

    <script type="text/jst" id="user-stats">
      <div class="info clearfix">
        <img src="<%= owner.avatar_url %>&size=300" title="avatar_url" class="avatar" width="100" height="100"/>
        <a href="<%= owner.html_url%>"><%= owner.login %></a>
      </div>
      <div class="navs">
        <% _.each(pages, function(page, txt) { %>
          <span class="label"><a href="#user/<%= owner.login %>/repos/<%= page %>" class="btn btn-blue no-link"><%= txt %></a></span>
        <% }) %>
      </div>
      <div class="users">
        <% _.each(userdata, function(repo) { %>
          <div class="boxes">
            <div class="main"><a href="<%= repo.html_url %>"><%= repo.name %></a></div>
            <div class="tabs">
              <a href="#contributions/<%= owner.login %>/<%= repo.name %>" class="tab">Contributions</a>
            </div>
          </div>
          <% }); %>
      </div>
    </script>

    <script type="text/jst" id="contribution-template">
      <% if (typeof errors !== "undefined") { %>
      <div class="errors"><%= errors.error ? errors.messages : "NetworkError!!" %></div>
      <% } else { %>
      <% var ranges = statsRange(_.pluck(stats, 'total')); %>
      <ul class="chart">
        <li class="axis">
          <% _.each(stats, function(stat) { %>
            <img src="<%= stat.avatar %>?size=30" class="label" width="30" height="30"/>
          <% }); %>
        </li>
        <% _.each(stats, function(stat) { %>
          <li class="bar" style="height: <%= statWidth(stat.total, ranges) %>%"></li>
        <% }) %>
      <% } %>
    </script>

    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="public/backbone.localStorage.js"></script>

    <script type="text/javascript" src="public/app.js"></script>
    <script type="text/javascript" src="routes/router.js"></script>
    <script type="text/javascript" src="models/user.js"></script>
    <script type="text/javascript" src="views/userForm.js"></script>
    <script type="text/javascript" src="views/user.js"></script>
    <script type="text/javascript" src="views/users.js"></script>
    <script type="text/javascript" src="views/repo.js"></script>
    <script type="text/javascript">
      $(function(){
        GitApp.start();
      });

      function statsRange(data) {
        var  max = _.max(data);
        var no_of_divs = Math.ceil((max)/100);
        var divr = Math.ceil(100/no_of_divs);
        var divs = [0];
        for(var i = 1; i <= no_of_divs; i+= 1)
          divs.push(i * divr);
        return divs;
      }

      function statWidth(value, list) {
        for(var i = 0, len = list.length; i < len; i++)
          if(value <= list[i])
            return list[i];
        return list.pop();
      }
    </script>
  </body>
</html>
