body {
  background-color: rgb(14, 9, 9);
}

.top-container {
  padding-top: 50px;
  min-height: 100vh;
  background: #222;
}

.row {
  margin-top: 10px;
}

.close {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 18px;
  color: #444;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.red {
  background-color: #f00;
}

.blue {
  background-color: #0bf;
}

.green {
  background-color: #0d5;
}

.progress-status {
  color: #eee;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.progress-percent {
  text-align: center;
}

.progress-width {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  transition: width 0.6s ease 0s;
  width: 86.7%;
}

.avatar {
  width: 12%;
  margin-left: 1%;
  max-width: 48px;
}

a:focus {
  outline: none;
}

.repo-name {
  word-wrap: break-word;
}

@media(min-width: 768px) {
  .top-container {
    width: 85%;
    margin: 0 auto;
  }

  .container {
    width: 100%;
  }
}

.row-centered {
    text-align:center;
}

.footer {
    background-color: #e74c3c;
    padding: 13px;
}
